.leftBtns{

    -fx-padding : 10px;
    -fx-pref-width : 40;
    -fx-pref-height : 30;
    -fx-font-family: "FontAwesome"; /* or Material Design Icons*/
    -fx-alignment: CENTER;
}

.glyph-icon {
  -fx-font-size: 15px;
  -fx-font-family: "FontAwesome"; /* or Material Design Icons*/

}

.leftBtns{

      -fx-background-color: #212121;
}

