.leftBtns{

    -fx-padding : 5px;
    -fx-pref-width : 30;
    -fx-pref-height : 30;
    -fx-font-family: "FontAwesome"; /* or Material Design Icons*/
    -fx-alignment: CENTER;
}

.glyph-icon {
  -fx-font-size: 15px;
  -fx-font-family: "FontAwesome"; /* or Material Design Icons*/
}.leftBtns{
    -fx-background-color: red;
    
}
